<!-- src/app/features/medicines/medicine-list/medicine-list.component.html -->
<div class="container">
  <div class="header">
    <h2>Liste des Médicaments</h2>
    <!-- 1. Le bouton qui va ouvrir la modale pour l'ajout -->
    <button (click)="openAddModal()">Ajouter un médicament</button>
  </div>

  <div *ngIf="medicines$ | async as medicines; else loading">
    <table *ngIf="medicines.length > 0; else noMedicines">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Catégorie</th>
          <th>Prix</th>
          <th>Stock</th>
          <th>Date d'expiration</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let med of medicines$ | async" [ngClass]="{ 'low-stock': med.quantity < 10 }">
          <td>{{ med.name }}</td>
          <td>{{ med.category }}</td>
          <td>{{ med.price }} FCFA</td>
          <td>{{ med.quantity }}</td>
          <td>{{ med.expirationDate | date: 'dd/MM/yyyy' }}</td>
          <td>
            <button (click)="openEditModal(med)">Modifier</button>
            <button (click)="onDelete(med.id)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #noMedicines>
      <p>Aucun médicament trouvé.</p>
    </ng-template>
  </div>

  <ng-template #loading>
    <p>Chargement des données...</p>
  </ng-template>
</div>
<dialog #formDialog>
  <app-medicine-form 
    [medicineToEdit]="selectedMedicine" 
    (formClosed)="closeModal()">
  </app-medicine-form>
</dialog>
