<!-- src/app/core/navigation/navbar/navbar.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/dashboard">PharmaTrack</a>
  </div>
  <ul class="navbar-links">
    <li>
      <!-- routerLinkActive ajoute une classe CSS quand le lien est actif -->
      <a routerLink="/dashboard" routerLinkActive="active-link">Tableau de Bord</a>
    </li>
    <li>
      <a routerLink="/sales" routerLinkActive="active-link">Ventes</a>
    </li>
    <li>
      <a routerLink="/medicines" routerLinkActive="active-link">Gestion des Médicaments</a>
    </li>
    <li>
      <!-- Bouton pour appeler la méthode logout() -->
      <a (click)="logout()" style="cursor: pointer;">Se déconnecter</a>
    </li>
  </ul>
</nav>
